<section>
	<div class="portrait">
		<!-- <div class="circular"> -->
			<img src="/theme/images/nicopie.png" />
		<!-- </div> -->
	</div>
	<div class="name">Miguel Molero, PhD</div>
	<div class="sub-name">data | software | imaging</div>
	<div class="contact"><i>first</i>.<i>last</i>@gmail.com</div>
	<div class="location">Madrid, Spain</div>
</section>


<!-- <section class="search">
	<script>
  (function() {
    var cx = '006027474294305969173:cpp1rvft78s';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
</section> -->
